@model IEnumerable<Tramites.Models.Pais>

@{
    ViewBag.Title = "Paises";
}

<h2>Paises</h2>
<!--el primer parámetro (New) de la siguiente línea son los parámetros de navegación tienen que ir vacios
    el segundo parámetro son los parámetros html -->
<p>
    @Html.ActionLink("Crear Pais", "Create", new { }, new { @class=" btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DescripcionPais)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DescripcionPais)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.CodigoPais }, new { @class = " btn btn-warning" })
            @Html.ActionLink("Detalles", "Details", new { id=item.CodigoPais }, new { @class = " btn btn-info" })
            @Html.ActionLink("Eliminar", "Delete", new { id=item.CodigoPais }, new { @class = " btn btn-danger" })
        </td>
    </tr>
}

</table>
